node_modules/
client/node_modules/
public/
client/.vscode/
client/dist/

# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/.DS_Store
client/dist-ssr/
client/coverage/
client/*.local
.idea/
.vscode/
db.sqlite
lowdb/db.json
.DS_Store
